:root {
  /*========== Colors ==========*/
  --first-color: hsla(0, 9%, 90%, 0.842);
  --first-color-alt: hsla(0, 14%, 93%, 0.644);
  --body-color: hsl(0, 0%, 100%);
  --border-color: hsl(0, 0%, 100%);

  /*========== Font ==========*/
  --tiny-font-size: 0.6875rem;
  --small-font-size: 13px;
  --text-color: hsl(0, 2%, 23%);

  /*========== Transition ==========*/
  --transition: cubic-bezier(0, 0, 0.05, 1);
} 

@font-face
{
  font-family: 'Inter';
  font-weight: normal;
  font-style: normal;
  src: url('../assets/font/Inter.ttf');
}

body {
  margin: 0;
  background-color: var(--first-color);
}

.top_header{
  width: 100%;
  height: 40px;
  position: fixed;
  display: flex;
  justify-content: space-around;;
  align-items: center;
  padding: 5px;
  z-index: 1;
  background-color: hsla(0, 0%, 93%, 0.274);
}

.banner{
  width: 100%;
  height:80px;
  max-width: 100%;
}

.product__section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 100px 0px 100px;
}

/*=============== BREAKPOINTS ===============*/
@media screen and (min-width: 1400px) {
  .products__container{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1400px) {
  .products__container{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .products__container{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .products__container{
    grid-template-columns: 100%;
  }
}