:root {
  /*--- Colors ---*/
  --first-color: #302F38;
  --second-color: #2F3A6E;
  --thrid-color: #7174B9;
  --fourth-color: #ABC4E6;
  --fifth-color:#C0CDEC;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/font/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../assets/font/Inter.ttf");
}

/* Body */
body {
  margin: 0px;
}

.product__section h1 {
  font-family: "Roboto";
  text-align: center;
}

/* Nav Style */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 100px 0px 100px;
  padding: 10px 20px 10px 20px;
}

a {
  text-decoration: none;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav a {
  padding: 5px;
  font-size: 13px;
  font-family: "Inter";
  color: var(--first-color);
}

header input {
  height: 28px;
  margin: 10px 20px 10px 20px;
  padding: 0px 20px 0px 20px;
  flex-grow: 1;
  border-radius: 10px;
  border-color: var(--thrid-color);
  border-width: 1px;
  background-color: var(--fifth-color);
}

/* Logo */
.logo {
  font-family: "Roboto";
  font-size: 24px;
  color: var(--first-color);
  margin-right: 10px;
}

/* Banner */
.banner img{
  width: 100vw;
  height: auto;
  scale: 16/9;
  background: #F0EEED; 
  overflow: hidden;
}

/* Main-style */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 100px;
}

/* Cart-style */
.count {
  background-color: var(--second-color);
  color: var(--fifth-color);
  font-size: 12px;
  border-radius: 50%;
  padding: 2px;
  position: absolute;
  text-align: center;
  top: -10px;
  right: -15px;
  width: 15px; 
  height: 15px;
}

.cart img {
  width: 24px;
}

.cart {
  width: 15px;
  position: relative;
  margin: 0px 20px;
}

@media screen and (max-width: 950px) {

  header input {
    display: none;
  }

  header nav a {
    display: none;
  }
}


/*  */
@media screen and (min-width: 1400px) {
  .products__container{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1400px) {
  .products__container{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .products__container{
    grid-template-columns: repeat(2, 1fr);
  }
  
  .product {
    margin: 2px;
  }
}

@media screen and (max-width: 768px) {
  header {
    margin: 0px 50px;
  }


  h1 {
    font-size: 20px;
  }
}